@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  
}

img {
  max-width:100%;
  height:auto;
  border:none
}
focus {
  outline:1px solid var(--gold)
}

.hero-section {
  background-image: url('images/hero1.jpg'); /* Replace with the path to your hero image */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  height: 80vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  
}

.hero-content {
  line-height: 3;
  max-width: 800px;
  margin: 0 auto;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  background-color: #0D4A8A;
   /* Adjust the background color */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 2rem;
}

.cta-button:hover {
  color: white;
  background-color:#24A153;/* Adjust the hover background color */
}

.welcome-section {
  background-image:url(images/clark-young-7YMQpD5R7Uw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  height: 80vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  border-radius: 5%;
}

.repair-section {
  background-image:url(images/taylor-smith-K6v29UYxZ2w-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  height: 80vh;
  display: flex;
  align-items: center;
  border-radius: 5%;
}

.mission-section h3 {
  background-color: #00000091;
  padding: var(--space-2xl);
  border-radius: .5rem;
  line-height: 2;
  margin: 2rem;
}

.photo-credits p {
  font-size: .5em;
}

footer {
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(141, 141, 141);
  border-radius: .5em;
}

.quote-section {
  background-color: #052f0643;
  padding: 200px 0 ;
  align-content: center;
  border-radius: 5%;
}

.quote-text {
  font-size: 2rem;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

.quote-author {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-style: italic;
  color: #777;
}

.guidestar {
  padding: 1rem;
  margin: 1rem;
}

.copyright {
  margin-bottom: 1rem;
}

.section h2 {
  line-height: 2;
}

.donate-section a {
  text-align: center;
color: yellow;
}

donate-section a:hover {
text-decoration: underline;

}

.wall-of-thanks {
margin-top: 2em;
text-align: center;
display: grid;

}

.wall-of-thanks a {
  margin: 2rem;
}

flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-container {
 background-color: #24A153;
 padding: 3rem;
 margin: 3rem;
 border-radius: 30px;
 text-align: center;

}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
/*   gap: .5rem; */
}

.card {
  padding: 1rem;
  width: 10em;
  background-color: #5c5c5c;
  color: var(--LIGHT-COLOR);

  text-shadow: var(--FONTSHADOW) ;
  box-shadow: var(--SHADOWS);
  display: flex;
  flex-flow: column wrap;
  font-size: var(--FS-SM);
}