@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@media screen and (max-width: 600px) {
  .fa-bars {
    display: block;
  }nav {
    flex-direction: column;
  }

  nav a {
    display: none;
    padding: 10px 0;
  }
.fa-bars {
  display: none;
}
.pin {
  display: none;
}}

@media (max-width: 600px) {
  .pin {
    display: flex;
  }
}
@media (min-width: 600px) {
  .pin {
    display: none;
  }
  label {
    display: none;
  }
  nav a {
    display: inline;
  }
}
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style:none ;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: Montserrat, system-ui, monospace;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  margin: 0
}

label .menu {
  position: absolute;
  right: -80px;
  top: 0;
  z-index: 100;
  width:100px;
  height: 20px;
  background: #ff000000;
  border-radius: 13vw 13vw 13vw 13vw;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #000000, 0 0 0 0 #000000;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 55px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #ffffff;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #000000, 0 0 0 100vh #000000;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #f38630;
  text-decoration: none;
  
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}


.break {
  padding: 2vh;
  margin: 2vh;
}


.h2 {
  background-color:   #00000091;
  border: 1px solid #ffc80091;
  box-shadow: 1em 1em 55px 1px #00000058;
  border-radius:  1em 1em 1em 1em;
  font-size: clamp(.75em, 2em, 2.5vw);
  line-height:2;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 900;
  padding: .5rem;
}
header {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff00;
  
}
.logo {
  width: clamp(90px, 5vw, 100px);
  height: clamp(90px, 5vw, 100px);
  border: none;
  padding: .5rem;
  margin: .5rem;
  background-color: #fff;  
}
nav {
  color: #000000;
  padding: 1rem;
  text-align: center;
  display: flexbox;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  max-width: 1200px; /* Set the maximum width */
  margin: rem auto; /* Center the navigation menu horizontally */
}

nav a {
  /* make nav items responsive and stay on screen until small screen sizes*/
  flex: 1;
  padding: 1rem;
  margin: 1rem;

  text-align: center;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  line-height: 2;
}
nav a:hover {
  color: #b9ffea;
}
  a:hover {
    transform: scale(1.1);
  }
  a:active {
    opacity: 0.6;
  }

#cycle {
  font-family: Montserrat, monospace;
  font-size:3em;
  color: #ffffff;
  text-shadow: 2px 2px 4px #247887;
  font-weight: 900;
 /*  position: absolute; */
}
#textCycle {
  font-family: Montserrat, monospace;
  font-size: 2em;
  color: #ffffff;
  text-shadow: 2px 2px 4px #4A9A51;
  font-weight: 900;
  /* position:relative; */

}
/* gradient-border {
  --borderWidth: 3px;
  background: #1d1f203d;
  position: relative;
  border-radius: 1rem;
} */
.gradient-border:after {
  content: '';
  position: fixed;
  top: calc(-1 * 1rem);
  left: calc(-1 * 1rem);
  height: calc(100% + 1 * 1rem);
  width: calc(100% + 1 * 1rem);
  background: linear-gradient(-333deg, #f795338d, #f36f55b2, #ef4e7cae, #a166ab77, #5073b89e, #1098adb1, #07b39ce0, #6fba82);
  z-index: -1;
  animation: animatedgradient 22s ease-in-out infinite;
  opacity: 0.5;
  background-size:300% 300%; 
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.menu {
  padding: 3rem;
  max-width: 1200px;
  display: flex;
  gap: clamp(2rem, 8vw, 4rem);
}

button {
background: transparent;
border: 10px solid var(--button-color, black);
border-radius: 1rem;
}

.btn-one {
  --button-color: #ff7700;
}

.btn-one .line {
  fill: var(--button-color);
  transition: y 1s ease-in-out;
  transform-origin: center;
}
.btn-one:hover :is(.top, .bottom) {
  y: 45px;
}
.btn-one:hover .top {
  transform: rotate(45deg);
} 
.btn-one:hover .bottom {
  transform: rotate(-45deg);
}
.btn-one:hover .middle {
  opacity: 0;
}
.btn-one[aria-expanded="true"] .top {
  transform: rotate(45deg);
}

img {
  max-width:100mvh;
  height:auto;
  border:none
}
focus {
  outline:1px solid var(--gold)
}

.hero-section {
  background-image: url('images/hero1.jpg');
  background-size: cover;
  background-position: top center;
  color: #fff;
  text-align: center;
  padding: ;
  height: 70vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

}

.hero-content {
  line-height: 3;
  /* max-width: 800px; */
  margin: 0 auto;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  background-color: #0D4A8A;
   /* Adjust the background color */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 2rem;
}

.cta-button:hover {
  color: white;
  background-color:#24A153;/* Adjust the hover background color */
}

.welcome-section {
  background-image:url(images/clark-young-7YMQpD5R7Uw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 9vw;
  display: flex;
  align-items: center;;
  font-size: clamp(1em 1.5vw 2em);
}

.repair-section {
  background-image:url(images/taylor-smith-K6v29UYxZ2w-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 9vw;
  height: 80vh;
  display: flex;
  align-items: center;
  border-radius: 5%;
}

.mission-section h3 {
  background-color: #00000091;
  line-height: 2;
  padding: 9vw;
  margin:auto;
}

.photo-credits p {
  font-size: .5em;
}

footer {
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(141, 141, 141);
  border-radius: .5em;
}

.quote-section {
  background-color: #052f0643;
  padding: 200px 0 ;
  align-content: center;
  border-radius: 5%;
  
}

.quote-text {
  font-size: clamp(.75em, 2vw, 2.5vw);
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

.quote-author {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-style: italic;
  color: #777;
}

.guidestar {
  padding: 1rem;
  margin: 1rem;
}

.copyright {
  margin-bottom: 1rem;
}

.section h2 {
  line-height: 2;
}

.donate-section a {
  text-align: center;
color: yellow;
text-decoration: none;
}

.donate-section a:hover {
  text-decoration: underline;
  }

.wall-of-thanks {
margin-top: 2em;
text-align: center;
display: grid;

}

.wall-of-thanks h2 {
  font-size: 1.5rem;
display: block;
margin: 2rem;
}

.wall-of-thanks a {
  margin: 2rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem; /* adjust as needed */
  background-color: #24A153;
  padding: 4rem;
  text-align: center;
  line-height: 2;
 ;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: .5rem;
}

.card {
  padding: 3vh;
  width: clamp(9em, 18vw, 20em);
  background-color: #5c5c5c4d;
  color: #ffffff;
  border-top: rgba(193, 172, 56, 0.333) 1px solid;
  border-left: rgb(193, 172, 56, 0.333) 1px solid;
  border-radius:  1em 3em 1em 3em;
  text-shadow: var(--FONTSHADOW) ;
  box-shadow: 1em 1em 55px 1px #00000058;
  display: flex;
  flex-flow: column wrap;
  font-size: clamp(.75em, 2em, 2.5vw);
  transition: box-shadow .5s ease-in-out;
}
.card:hover {
  box-shadow: -.5em -.5em 10px 1px #0900701b;
  transition: ease-in-out .25s;
}


.bottom {
  margin-top: auto;
  text-align: center;
}


#calendar {
  margin: 0 auto;
  background-color: #00000091;
  border: 1px solid #ffc80091;
  box-shadow: 1em 1em 55px 1px #00000058;
  border-radius:  1em 1em 1em 1em;
  font-size: clamp(.75em, 2em, 2.5vw);
  line-height:2;
  color: #ffffff;
  text-align: left;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 900;
  padding: 5vw;
  text-align: center;
  margin-top: 6vh;
  margin-bottom: 6vh;
  width: 60%;
}
table {
  width: 100%;
  border-collapse: collapse;
  padding: 1vw;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #383737;
}
.full-width {
  width: 100vw;  
  text-align: center;
  margin-top: 9vh;
  margin-bottom: 6vh;
}