@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  box-sizing:border-box
}

*,
:after,
:before {
  box-sizing:inherit
}
body {
  margin:0
}
blockquote,
figure,
ol,
pre,
ul {
  padding:0;
  margin:0
}
img {
  max-width:100%;
  height:auto;
  border:none
}
article,
aside,
figure,
footer,
header,
img,
main,
nav {
  display:block
}
iframe {
  border:none
}
a {
  text-decoration:none
}
a,
button {
  color:inherit
}
button {
  background:0 0;
  font:inherit;
  padding:0;
  cursor:pointer;
  box-shadow:none;
  border:none
}
:focus {
  outline:1px solid var(--gold)
}
ol,
p,
ul {
  margin:0
}
html {
  height:100%
}
#__layout,
#__nuxt,
.layout,
body {
  min-height:100%;
}
.layout {
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column;
  -webkit-transition:background-color .3s;
  transition:background-color .3s
}
.layout>* {
  width:100%
}
.layout>:nth-child(2) {
  -webkit-box-flex:1;
  flex:1
}
.layout--grey {
  background-color:var(--lightest-grey)
}
:root {
  --font-sans:"Montserrat",sans-serif;
  --font-serif:"garamond-premier-pro-caption",serif;
  --font-code:"source-code-pro",monospace;
  --font-demo:"Inter",sans-serif;
  --white:#fff;
  --lightest-grey:#f1f2f3;
  --black:#222;
  --gold:#857047;
  --gold-1:#9d8d6c;
  --purple:#a9439a;
  --navy:#001f35;
  --navy-1:#334c5d;
  --navy-2:#667986;
  --navy-3:#99a5ae;
  --navy-4:#ccd2d7;
  --navy-5:#e5e9eb
}
.root,
:root {
  --fluid-min-width:320;
  --fluid-max-width:1140;
  --fluid-screen:100vw;
  --fluid-bp:calc((var(--fluid-screen) - var(--fluid-min-width)/16*1rem)/(var(--fluid-max-width) - var(--fluid-min-width)))
}
.root {
  font-size:var(--step-0)
}
@media screen and (min-width:1140px) {
  .root,
  :root {
    --fluid-screen:calc(var(--fluid-max-width)*1px)
  }
}
.root,
:root {
  --f--3-min:8;
  --f--3-max:12;
  --step--3:calc(var(--f--3-min)/16*1rem + (var(--f--3-max) - var(--f--3-min))*var(--fluid-bp));
  --f--2-min:14.58;
  --f--2-max:15.36;
  --step--2:calc(var(--f--2-min)/16*1rem + (var(--f--2-max) - var(--f--2-min))*var(--fluid-bp));
  --f--1-min:17.50;
  --f--1-max:19.20;
  --step--1:calc(var(--f--1-min)/16*1rem + (var(--f--1-max) - var(--f--1-min))*var(--fluid-bp));
  --f--2-1-min:var(--f--2-min);
  --f--2-1-max:var(--f--1-max);
  --step--2-1:calc(var(--f--2-1-min)/16*1rem + (var(--f--2-1-max) - var(--f--2-1-min))*var(--fluid-bp));
  --f-0-min:21.00;
  --f-0-max:24.00;
  --step-0:calc(var(--f-0-min)/16*1rem + (var(--f-0-max) - var(--f-0-min))*var(--fluid-bp));
  --f-1-min:25.20;
  --f-1-max:30.00;
  --step-1:calc(var(--f-1-min)/16*1rem + (var(--f-1-max) - var(--f-1-min))*var(--fluid-bp));
  --f-2-min:30.24;
  --f-2-max:37.50;
  --step-2:calc(var(--f-2-min)/16*1rem + (var(--f-2-max) - var(--f-2-min))*var(--fluid-bp));
  --f-3-min:36.29;
  --f-3-max:46.88;
  --step-3:calc(var(--f-3-min)/16*1rem + (var(--f-3-max) - var(--f-3-min))*var(--fluid-bp));
  --f-4-min:43.55;
  --f-4-max:58.59;
  --step-4:calc(var(--f-4-min)/16*1rem + (var(--f-4-max) - var(--f-4-min))*var(--fluid-bp));
  --f-5-min:52.25;
  --f-5-max:73.24;
  --step-5:calc(var(--f-5-min)/16*1rem + (var(--f-5-max) - var(--f-5-min))*var(--fluid-bp));
  --fc-3xs-min:(var(--fc-s-min) * 0.25);
  --fc-3xs-max:(var(--fc-s-max) * 0.25);
  --fc-2xs-min:(var(--fc-s-min) * 0.5);
  --fc-2xs-max:(var(--fc-s-max) * 0.5);
  --fc-xs-min:(var(--fc-s-min) * 0.75);
  --fc-xs-max:(var(--fc-s-max) * 0.75);
  --fc-s-min:(var(--f-0-min));
  --fc-s-max:(var(--f-0-max));
  --fc-m-min:(var(--fc-s-min) * 1.5);
  --fc-m-max:(var(--fc-s-max) * 1.5);
  --fc-l-min:(var(--fc-s-min) * 2);
  --fc-l-max:(var(--fc-s-max) * 2);
  --fc-xl-min:(var(--fc-s-min) * 3);
  --fc-xl-max:(var(--fc-s-max) * 3);
  --fc-2xl-min:(var(--fc-s-min) * 4);
  --fc-2xl-max:(var(--fc-s-max) * 4);
  --fc-3xl-min:(var(--fc-s-min) * 6);
  --fc-3xl-max:(var(--fc-s-max) * 6);
  --space-3xs:calc(var(--fc-3xs-min)/16*1rem + (var(--fc-3xs-max) - var(--fc-3xs-min))*var(--fluid-bp));
  --space-2xs:calc(var(--fc-2xs-min)/16*1rem + (var(--fc-2xs-max) - var(--fc-2xs-min))*var(--fluid-bp));
  --space-xs:calc(var(--fc-xs-min)/16*1rem + (var(--fc-xs-max) - var(--fc-xs-min))*var(--fluid-bp));
  --space-s:calc(var(--fc-s-min)/16*1rem + (var(--fc-s-max) - var(--fc-s-min))*var(--fluid-bp));
  --space-m:calc(var(--fc-m-min)/16*1rem + (var(--fc-m-max) - var(--fc-m-min))*var(--fluid-bp));
  --space-l:calc(var(--fc-l-min)/16*1rem + (var(--fc-l-max) - var(--fc-l-min))*var(--fluid-bp));
  --space-xl:calc(var(--fc-xl-min)/16*1rem + (var(--fc-xl-max) - var(--fc-xl-min))*var(--fluid-bp));
  --space-2xl:calc(var(--fc-2xl-min)/16*1rem + (var(--fc-2xl-max) - var(--fc-2xl-min))*var(--fluid-bp));
  --space-3xl:calc(var(--fc-3xl-min)/16*1rem + (var(--fc-3xl-max) - var(--fc-3xl-min))*var(--fluid-bp));
  --space-3xs-2xs:calc(var(--fc-3xs-min)/16*1rem + (var(--fc-2xs-max) - var(--fc-3xs-min))*var(--fluid-bp));
  --space-2xs-xs:calc(var(--fc-2xs-min)/16*1rem + (var(--fc-xs-max) - var(--fc-2xs-min))*var(--fluid-bp));
  --space-xs-s:calc(var(--fc-xs-min)/16*1rem + (var(--fc-s-max) - var(--fc-xs-min))*var(--fluid-bp));
  --space-s-m:calc(var(--fc-s-min)/16*1rem + (var(--fc-m-max) - var(--fc-s-min))*var(--fluid-bp));
  --space-m-l:calc(var(--fc-m-min)/16*1rem + (var(--fc-l-max) - var(--fc-m-min))*var(--fluid-bp));
  --space-l-xl:calc(var(--fc-l-min)/16*1rem + (var(--fc-xl-max) - var(--fc-l-min))*var(--fluid-bp));
  --space-xl-2xl:calc(var(--fc-xl-min)/16*1rem + (var(--fc-2xl-max) - var(--fc-xl-min))*var(--fluid-bp));
  --space-2xl-3xl:calc(var(--fc-2xl-min)/16*1rem + (var(--fc-3xl-max) - var(--fc-2xl-min))*var(--fluid-bp));
  --space-s-l:calc(var(--fc-s-min)/16*1rem + (var(--fc-l-max) - var(--fc-s-min))*var(--fluid-bp));
  --space-2xs-s:calc(var(--fc-2xs-min)/16*1rem + (var(--fc-s-max) - var(--fc-2xs-min))*var(--fluid-bp));
  --gutter:var(--space-s-l);
  --negative-gutter:calc(var(--gutter)*-1)
}
:root {
  --prose-bottom-gap:0.25em;
  --prose-top-gap:0.25em;
}
.additive-spacing {
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column;
  -webkit-box-align:start;
  align-items:flex-start
}
.additive-spacing--large {
  --prose-bottom-gap:0.5em;
  --prose-top-gap:0.5em
}
.additive-spacing>* {
  margin-bottom:.25em;
  margin-bottom:var(--prose-bottom-gap);
  margin-top:.25em;
  margin-top:var(--prose-top-gap)
}
.additive-spacing>:first-child {
  margin-top:0
}
.additive-spacing>:last-child {
  margin-bottom:0
}
body {
  font:var(--step-0)/1.5 var(--font-serif);
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  color:var(--white)
}
.h1,
.u-style-serif {
  -moz-osx-font-smoothing:initial;
  -webkit-font-smoothing:initial;
  font-feature-settings:"smcp";
  text-transform:lowercase;
  font-weight:700;
  color:var(--black);
  font-size:var(--step-1)
}
.u-style-label {
  font:var(--step--2)/1.2 var(--font-sans);
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:.06em;
  color:var(--gold);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.u-style-label--lower {
  text-transform:none
}
.u-style-label small,
small.u-style-label {
  text-transform:lowercase;
  font-size:var(--step--2);
  letter-spacing:0
}
.u-style-label--black {
  color:var(--black)
}
h1,
h2,
h3 {
  line-height:1.5;
  margin:0
}
.u-strong,
em,
strong {
  font-weight:700
}
.screen-reader-only {
  clip:rect(1px,1px,1px,1px);
  -webkit-clip-path:inset(50%);
  clip-path:inset(50%);
  height:1px;
  width:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute
}
.u-step-5 {
  font-size:var(--step-5)
}
.u-step-4 {
  font-size:var(--step-4)
}
.u-step-3 {
  font-size:var(--step-3)
}
.u-step-2 {
  font-size:var(--step-2)
}
.u-step-1 {
  font-size:var(--step-1)
}
.u-step-0 {
  font-size:var(--step-0)
}
.u-step--1 {
  font-size:var(--step--1)
}
.u-step--2 {
  font-size:var(--step--2)
}
.u-step-1-rem {
  font-size:1rem
}
.u-font-code {
  font-family:var(--font-code)
}
.u-font-sans {
  font-family:var(--font-sans)
}
.u-color-gold {
  color:var(--gold)
}
.u-color-dark-grey {
  color:var(--navy-1)
}
.u-color-white {
  color:var(--white)
}
.u-color-mid-grey {
  color:var(--navy-2)
}
.u-underline {
  border-bottom:1px solid
}
.u-font-italic {
  font-style:italic
}
.prose em {
  color:var(--gold)
}
.prose strong {
  font-style:italic;
  font-weight:700
}
.u-text-align-left {
  text-align:left
}
.u-text-align-center {
  text-align:center
}
.u-text-align-right {
  text-align:right
}
.u-w-100 {
  width:100%
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: .5s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
table {
  min-width:100%;
  border-collapse:collapse;
  text-align:left;
  font-family:var(--font-sans)
}
table>*+*>:first-child>*,
tr+tr>* {
  border-top:1px solid var(--navy-5)
}
table:not(.table-standard) tr>:first-child {
  border-right:1px solid var(--navy-5);
  box-shadow:1px 0 var(--navy-5);
  position:-webkit-sticky;
  position:sticky;
  left:0;
  background:#fff;
  width:80px
}
table:not(.table-standard) tr>:last-child {
  width:52px
}
td,
th {
  padding:.25em .5em
}
.table--padded td,
.table--padded th {
  padding:.5em
}
table .highlight>* {
  font-weight:700;
  background:rgba(230,235,240,.5)
}
table .highlight-bg>* {
  background:var(--navy-5)
}
@media screen and (min-width:600px) {
  .table__top,
  .table__top--square {
    vertical-align:top
  }
}
table .table__multiplier {
  width:150px;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  padding-bottom:.25em;
  padding-top:.25em
}
table .table__end {
  width:52px
}
.table__multiplier input {
  border-color:var(--navy-4)
}
.table__multiplier ::-webkit-inner-spin-button,
.table__multiplier ::-webkit-outer-spin-button {
  -webkit-appearance:none;
  margin:0
}

.table__single-button {
  text-align:right;
  width:40px
}
.table__double-button {
  width:100px
}
.table__steppers {
  width:200px
}
.prose--page>p:first-of-type {
  font-size:var(--step-1)
}
.prose ol>li {
  margin-left:1.5em;
  padding-left:1em
}
.prose ul>li {
  padding-left:1em;
  list-style:none;
  background:url('data:image/svg+xml;utf8,<svg width="8" height="12" xmlns="http://www.w3.org/2000/svg"><circle fill="%23b29a6b" cx="4" cy="4" r="4" fill-rule="evenodd"/></svg>') 0 .6em no-repeat;
  margin-left:1.25em
}
.prose li+li {
  margin-top:.5em
}
.prose>:not(h1):not(h2):not(h3):not(h4)+h2,
.prose>:not(h1):not(h2):not(h3):not(h4)+h3,
.prose>:not(h1):not(h2):not(h3):not(h4)+h4 {
  --prose-top-gap:1em
}
.prose a {
  font-style:italic;
  color:var(--gold);
  font-weight:700;
  text-decoration:underline
}
.prose blockquote {
  padding-bottom:var(--space-s);
  padding-top:var(--space-s)
}
.prose blockquote p {
  font-size:var(--step-2);
  color:var(--gold);
  line-height:1.25
}
code {
  background:var(--navy-5);
  font-size:var(--step--1)
}
pre code {
  font-size:var(--step--2);
  display:block
}
pre {
  background:var(--navy-5);
  padding:var(--space-s);
  max-width:100%;
  width:100%;
  overflow-y:auto
}
figure,
pre {
  --prose-bottom-gap:1.5em;
  --prose-top-gap:1.5em
}
figcaption {
  font-size:var(--step--1);
  display:block;
  margin-top:.5em
}
hr {
  border:none;
  border-bottom:1px solid var(--navy-5)
}
.row-spacing>hr,
hr {
  margin:var(--space-l) 0
}
.image-stack {
  position:relative
}
.image-stack>img+img {
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  opacity:0;
  -webkit-animation:fade 4s ease-in-out infinite;
  animation:fade 4s ease-in-out infinite
}
@-webkit-keyframes fade {
  0%,
  80% {
    opacity:0
  }
  50% {
    opacity:1
  }
}
@keyframes fade {
  0%,
  80% {
    opacity:0
  }
  50% {
    opacity:1
  }
}
.wrap,
.wrap--gutterless {
  margin-left:auto;
  margin-right:auto;
  position:relative;
  max-width:1048px;
  padding-left:var(--gutter);
  padding-right:var(--gutter);
  width:100%
}
.wrap--gutterless {
  padding-right:0;
  padding-left:0;
  max-width:calc(1048px - var(--gutter)*2)
}
.wrap--thin {
  max-width:500px
}
.insulate {
  padding-top:var(--space-l);
  padding-bottom:var(--space-l)
}
.insulate--large {
  padding-top:var(--space-xl);
  padding-bottom:var(--space-xl)
}
.row-spacing--major>*+* {
  margin-top:var(--space-l)
}
.row-spacing>*+* {
  margin-top:var(--space-s)
}
.row-spacing--xs>*+* {
  margin-top:var(--space-xs)
}
.row-spacing--2xs>*+* {
  margin-top:var(--space-2xs)
}
fieldset {
  margin:0;
  border:none;
  padding:0
}
legend {
  text-transform:uppercase;
  color:var(--gold);
  font-weight:600;
  letter-spacing:.06em;
  padding:0
}
label,
legend {
  font-family:var(--font-sans);
  font-size:var(--step--2)
}
label {
  font-weight:700;
  display:block;
  margin:0 0 5px
}
label small {
  opacity:.8;
  font-size:.9em
}
.input-field label~label {
  margin:5px 0 0
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none
}
.faux-input,
input,
select {
  display:block;
  border:1px solid var(--navy-1);
  background:0 0;
  color:inherit;
  padding:.5em;
  font:inherit;
  font-family:var(--font-code);
  font-size:24px;
  width:100%;
  border-radius:0
}
option {
  color:var(--navy)
}
.faux-input {
  background:var(--navy-4);
  border-color:var(--navy-4)
}
[data-suffix] {
  position:relative
}
[data-suffix]:after {
  content:attr(data-suffix);
  position:absolute;
  right:var(--space-2xs);
  bottom:1.2rem;
  font-family:var(--font-sans);
  color:var(--navy-2);
  font-size:var(--step--2)
}
[data-suffix] input,
[data-suffix] select {
  padding-right:2.25rem
}
.button {
  display:inline-block;
  background:var(--gold);
  border-radius:2em;
  color:var(--white);
  font-family:var(--font-sans);
  font-size:var(--step--1);
  padding:.6em 1.7em;
  font-weight:700;
  line-height:1.2
}
.button--blue {
  background:var(--navy-1)
}
.button--large {
  font-size:var(--step-0)
}
.button-circle {
  border-radius:100%;
  width:1.75rem;
  height:1.75rem;
  padding:0;
  line-height:1;
  display:inline-block;
  position:relative;
  vertical-align:middle
}
.button-circle--outline {
  border:1px solid;
  color:var(--gold)
}
.button-circle--black {
  color:var(--white);
  background:var(--black)
}
.button-circle--white {
  color:var(--black);
  background:var(--white)
}
.button-circle--gold {
  color:var(--white);
  background:var(--gold)
}
.button-circle svg {
  width:20px;
  height:20px;
  position:absolute;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  left:50%;
  top:50%
}
.button--add {
  font-family:var(--font-sans);
  display:-webkit-box;
  display:flex;
  -webkit-box-align:center;
  align-items:center
}
.button--add .button-circle {
  margin-right:.5em
}
.button-circle[data-before] {
  position:relative
}
.button-circle[data-before]:before {
  content:attr(data-before);
  position:absolute;
  right:100%;
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  font-weight:700;
  font-size:var(--step--2);
  white-space:nowrap;
  color:var(--gold);
  margin-right:var(--space-2xs)
}
.input-field--split {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:var(--step-0);
  justify-items:center;
  -webkit-box-align:center;
  align-items:center
}
.input-field--disabled,
[disabled] {
  opacity:.25;
  cursor:not-allowed
}
.input-field--disabled [disabled] {
  opacity:1
}
.inline-input {
  font-size:1rem
}
.stepper {
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column;
  white-space:nowrap
}
.stepper>:last-child {
  -webkit-transform:scaleY(-1);
  transform:scaleY(-1)
}
.steppers {
  display:-webkit-inline-box;
  display:inline-flex;
  -webkit-box-align:center;
  align-items:center;
  -webkit-box-pack:center;
  justify-content:center;
  grid-gap:var(--space-2xs);
  gap:var(--space-2xs)
}
.stepper-gap {
  color:var(--navy-4);
  height:11px;
  display:block;
  line-height:0
}
.c-checkbox label {
  position:relative;
  padding-left:2rem;
  cursor:pointer
}
.c-checkbox label:before {
  content:"";
  width:1.25rem;
  height:1.25rem;
  position:absolute;
  left:0;
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  border:1px solid
}
.c-checkbox :focus+label:before {
  outline:1px solid
}
.c-checkbox label:after {
  content:"";
  height:10px;
  width:5px;
  border-right:2px solid;
  border-bottom:2px solid;
  position:absolute;
  left:7.5px;
  top:3px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  opacity:0
}
.c-checkbox :checked+label:after {
  opacity:1
}
.modal {
  --gold:var(--gold-1);
  -webkit-box-pack:center;
  justify-content:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column;
  -webkit-box-align:stretch;
  align-items:stretch;
  background:var(--navy);
  position:fixed;
  display:-webkit-box;
  display:flex;
  padding:var(--step-0);
  z-index:200;
  height:100%;
  width:100%;
  color:var(--navy-5);
  left:0;
  top:0;
  opacity:0;
  visibility:hidden;
  -webkit-transition:opacity .3s,visibility .3s;
  transition:opacity .3s,visibility .3s
}
.modal--open {
  opacity:1;
  visibility:visible
}
.modal__wrapper {
  max-height:100%;
  overflow-y:auto;
  min-height:400px
}
.modal__close {
  position:absolute;
  padding:1rem;
  right:0;
  top:0
}
.usps {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(320px,1fr));
  grid-gap:var(--space-s)
}
.embed {
  align-self:stretch
}
.embed-wrapper {
  padding-bottom:56.25%;
  position:relative;
  height:0
}
.embed iframe,
.embed video {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0
}
.card__link {
  padding:var(--space-s)
}
.card__split {
  position:relative;
  padding-right:40px;
  width:100%
}
.card__split svg {
  margin-left:1em;
  position:absolute;
  right:0;
  top:0;
  -webkit-transition:-webkit-transform .3s;
  transition:-webkit-transform .3s;
  transition:transform .3s;
  transition:transform .3s,-webkit-transform .3s
}
.card__split a:hover svg {
  -webkit-transform:translateX(.35em);
  transform:translateX(.35em)
}
.card--page {
  background:var(--navy);
  color:var(--white);
  position:relative
}
.card--page .card__link {
  display:-webkit-box;
  display:flex;
  padding:0;
  -webkit-box-pack:justify;
  justify-content:space-between;
  -webkit-box-align:center;
  align-items:center;
  height:100%
}
.card--page h2 {
  padding:0 var(--space-s)
}
.card--page figure {
  background:var(--gold);
  padding:var(--space-xs);
  width:var(--space-l-xl);
  height:100%
}
.card--page figure div {
  height:0;
  padding-bottom:100%;
  position:relative
}
.card--page figure svg {
  position:absolute;
  left:50%;
  top:50%;
  -webkit-transition:-webkit-transform .3s;
  transition:-webkit-transform .3s;
  transition:transform .3s;
  transition:transform .3s,-webkit-transform .3s;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%)
}
.card--page a:hover svg {
  -webkit-transform:translate(-50%,-50%) translateX(.35em);
  transform:translate(-50%,-50%) translateX(.35em)
}
.card--post {
  background:var(--navy-5);
  color:var(--black)
}
.card__link--showcase {
  -webkit-transition:opacity .2s;
  transition:opacity .2s;
  display:block
}
.card__link--showcase:hover {
  opacity:.95
}
.card--showcase .creator a {
  color:var(--gold);
  text-decoration:underline
}
.card--showcase>*+* {
  margin-top:var(--space-xs)
}
@supports (aspect-ratio:1) {
  .card--showcase {
    width:100%
  }
  .card--showcase__image {
    position:relative;
    background:var(--white)
  }
  .card--showcase__image img {
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    -o-object-fit:cover;
    object-fit:cover
  }
  [data-size=l] .card--showcase__image {
    aspect-ratio:1.333
  }
  [data-size=m] .card--showcase__image {
    aspect-ratio:.692
  }
  [data-size=s] .card--showcase__image {
    aspect-ratio:.457
  }
}
.cards {
  display:grid;
  grid-gap:var(--space-s-l)
}
.cards--two {
  grid-template-columns:repeat(auto-fill,minmax(min(calc(100vw - var(--gutter)*2),320px),1fr))
}
.cards--three {
  grid-template-columns:repeat(auto-fill,minmax(250px,1fr))
}
.flexi-card {
  background:#f7f8f9;
  padding-bottom:1rem;
  --opacity:0.5
}
.flexi-card__wrapper {
  min-height:450px;
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column;
  -webkit-box-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  align-items:center
}
.example-card {
  background:#124a80;
  color:#ebebeb;
  font-size:var(--step--1);
  font-family:var(--font-sans);
  padding:var(--space-s-l);
  margin:auto;
  max-width:450px;
  position:relative
}
.example-card p:first-child {
  opacity:.8
}
.example-card:after,
.example-card:before {
  content:"";
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  pointer-events:none;
  -webkit-transition:border-color .2s;
  transition:border-color .2s
}
.example-card:before {
  border-bottom:var(--space-s-l) solid rgba(169,67,154,var(--opacity));
  border-top:var(--space-s-l) solid rgba(169,67,154,var(--opacity))
}
.example-card:after {
  border-right:var(--space-s-l) solid rgba(169,67,154,var(--opacity));
  border-left:var(--space-s-l) solid rgba(169,67,154,var(--opacity))
}
.example-card a {
  color:inherit;
  text-decoration:none;
  font-style:normal;
  font-weight:400;
  display:block
}
.example-card a>*+:before {
  content:"";
  display:block;
  background:rgba(32,175,223,var(--opacity));
  height:var(--space-3xs-2xs);
  -webkit-transition:opacity .2s;
  transition:opacity .2s
}
.example-card h2 {
  color:var(--white);
  font-size:var(--step-1)
}
.example-card p {
  line-height:1.6
}
.flexi-form {
  display:-webkit-box;
  display:flex;
  -webkit-box-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  align-items:center;
  flex-wrap:wrap;
  margin-top:.5rem
}
.flexi-form {
  height:31px
}
.flexi-form .u-style-label {
  font-size:.875rem
}
.flexi-form [type=range] {
  padding:0;
  width:120px;
  cursor:-webkit-grab;
  cursor:grab
}
.flexi-form input:active {
  cursor:-webkit-grabbing;
  cursor:grabbing
}
.flexi-form>*+* {
  margin-left:1rem
}
@media (max-width:400px) {
  .example-card {
    -webkit-transform:scale(.8) translateX(-2rem);
    transform:scale(.8) translateX(-2rem);
    width:calc(100% + 3rem)
  }
  .flexi-card__wrapper {
    height:360px;
    min-height:auto
  }
}
@media (max-width:370px) {
  .example-card {
    -webkit-transform:scale(.6) translateX(-28%);
    transform:scale(.6) translateX(-28%);
    width:150%
  }
  .flexi-card__wrapper {
    height:280px;
    min-height:auto
  }
}
.calculator {
  background:var(--navy);
  color:var(--white);
  --gold:var(--gold-1)
}
.calculator__wrapper {
  display:grid;
  grid-template-columns:1fr 1px 1fr;
  grid-gap:var(--step-0)
}
.calculator__wrapper>.line {
  background:var(--navy-1)
}
@media screen and (min-width:50em) {
  .calculator__wrapper {
    grid-template-columns:1fr 1fr;
    -webkit-box-align:start;
    align-items:start;
    grid-gap:var(--space-l)
  }
  .calculator__wrapper>.line {
    display:none
  }
  .calculator .fieldset {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:var(--space-2xs-xs) var(--space-s);
    -webkit-box-align:start;
    align-items:start
  }
  .calculator .fieldset legend {
    grid-column:span 3;
    border-bottom:1px solid var(--navy-1);
    padding-bottom:var(--space-2xs-xs)
  }
  .calculator .fieldset>*+* {
    margin-top:0
  }
  .calculator__scale-label {
    position:absolute
  }
  .calculator .button {
    grid-column:3/4;
    padding-right:.5em;
    padding-left:.5em
  }
}
.space {
  font-size:var(--step--2);
  font-family:var(--font-code);
  display:grid;
  grid-gap:0;
  min-width:40px
}
.space__square {
  background:linear-gradient(135deg,rgba(169,67,154,.5),rgba(169,67,154,.4));
  display:none;
  border:none;
  -webkit-transition:all .25s ease-in-out;
  transition:all .25s ease-in-out;
  aspect-ratio:1;
  max-width:200px
}
.space output {
  display:block
}
@media screen and (min-width:600px) {
  .space__square {
    display:-webkit-box;
    display:flex
  }
  .space {
    grid-template-rows:28px auto
  }
  .space output {
    margin-bottom:var(--space-2xs)
  }
}
.space-label {
  background:var(--gold);
  color:var(--white);
  font-weight:700;
  width:36px;
  height:36px;
  display:-webkit-inline-box;
  display:inline-flex;
  -webkit-box-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  align-items:center;
  border-radius:100%;
  font-size:var(--step--2);
  letter-spacing:.02em;
  text-transform:uppercase;
  font-family:var(--font-sans)
}
.u-gold {
  color:var(--gold)
}
.u-mid-grey {
  color:var(--navy-2)
}
.u-black {
  color:var(--black)
}
.u-split {
  display:-webkit-box;
  display:flex;
  -webkit-box-pack:justify;
  justify-content:space-between;
  -webkit-box-align:center;
  align-items:center;
  flex-wrap:wrap;
  grid-gap:var(--space-s);
  gap:var(--space-s)
}
.u-split>:first-child:not(:only-child) {
  padding-right:var(--space-s)
}
.nuxt-progress {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:2px;
  width:0;
  opacity:1;
  -webkit-transition:width .1s,opacity .4s;
  transition:width .1s,opacity .4s;
  background-color:#fff;
  z-index:999999
}
.nuxt-progress.nuxt-progress-notransition {
  -webkit-transition:none;
  transition:none
}
.nuxt-progress-failed {
  background-color:red
}
.top {
  padding:var(--space-2xs) 0 0;
  margin-bottom:var(--space-s-l);
  font-size:var(--step--2-1);
  color:var(--gold);
  font-family:var(--font-sans);
  font-weight:700
}
.top .wrap {
  -webkit-box-align:center;
  align-items:center;
  -webkit-box-pack:justify;
  justify-content:space-between;
  flex-wrap:wrap;
  grid-gap:var(--space-2xs-xs);
  gap:var(--space-2xs-xs)
}
.top .wrap,
.top ul {
  display:-webkit-box;
  display:flex
}
.top ul {
  list-style:none;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column;
  grid-gap:0 var(--space-2xs-s);
  gap:0 var(--space-2xs-s);
  -webkit-box-align:end;
  align-items:flex-end
}
.top .nuxt-link-active,
.top li a:hover {
  text-decoration:underline
}
@media (min-width:400px) {
  .top {
    padding:var(--space-s-l) 0 0
  }
  .top ul {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    flex-direction:row
  }
}
@media (max-width:399px) {
  .top ul {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    flex-direction:row;
    flex-wrap:wrap;
    -webkit-box-pack:end;
    justify-content:flex-end;
    width:7.8rem
  }
}
.logo {
  width:161px;
  display:block;
  position:relative;
  max-width:44vw
}
.logo svg {
  width:100%;
  height:auto
}
.hero {
  --gold:var(--gold-1)
}
.hero a {
  display:block;
  padding:var(--space-l) var(--space-s) var(--space-m);
  background:var(--navy);
  color:var(--gold);
  text-align:center;
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  flex-direction:column;
  -webkit-box-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  align-items:center
}
.hero h2 {
  font-weight:400;
  font-size:var(--step-2);
  max-width:30ch
}
.hero p {
  margin-top:var(--space-xs);
  display:-webkit-inline-box;
  display:inline-flex;
  -webkit-box-align:center;
  align-items:center;
  grid-gap:var(--space-2xs);
  gap:var(--space-2xs);
  color:var(--white)
}
.hero a:hover p {
  text-decoration:underline
}
.demo {
  background:var(--navy-5);
  padding-top:var(--space-s-m)
}
.demo-controls-wrapper {
  margin-top:calc(var(--space-xs)*-1);
  accent-color:var(--gold)
}
.demo-controls,
.demo-controls-wrapper {
  display:-webkit-box;
  display:flex;
  -webkit-box-pack:center;
  justify-content:center
}
.demo-controls {
  padding:var(--space-xs-s) var(--gutter);
  background:var(--white);
  box-shadow:0 8px 16px rgba(0,0,0,.1);
  max-width:calc(100% - var(--gutter)*2);
  width:auto;
  z-index:1;
  -webkit-box-align:center;
  align-items:center;
  grid-gap:var(--space-3xs) var(--space-l);
  gap:var(--space-3xs) var(--space-l);
  flex-wrap:wrap
}
.demo-controls>* {
  margin-top:0;
  height:30px;
  flex-shrink:0
}
.demo-controls label {
  margin:0
}
.demo-wrapper {
  height:0;
  padding-bottom:57%;
  overflow:hidden;
  position:relative
}
.demo-root {
  --fluid-min-width:210;
  --fluid-max-width:686;
  --fluid-bp:calc((var(--fluid-screen) - var(--fluid-min-width)/16*1rem)/(var(--fluid-max-width) - var(--fluid-min-width)));
  --f--1-min:9.75;
  --f--1-max:12.5;
  --step--1:calc(var(--f--1-min)/16*1rem + (var(--f--1-max) - var(--f--1-min))*var(--fluid-bp));
  --f-0-min:12.50;
  --f-0-max:15;
  --step-0:calc(var(--f-0-min)/16*1rem + (var(--f-0-max) - var(--f-0-min))*var(--fluid-bp));
  --f-1-min:15;
  --f-1-max:20;
  --step-1:calc(var(--f-1-min)/16*1rem + (var(--f-1-max) - var(--f-1-min))*var(--fluid-bp));
  --f-5-min:31;
  --f-5-max:48;
  --step-5:calc(var(--f-5-min)/16*1rem + (var(--f-5-max) - var(--f-5-min))*var(--fluid-bp));
  --fc-3xs-min:(var(--fc-s-min) * 0.25);
  --fc-3xs-max:(var(--fc-s-max) * 0.25);
  --fc-2xs-min:(var(--fc-s-min) * 0.5);
  --fc-2xs-max:(var(--fc-s-max) * 0.5);
  --fc-xs-min:(var(--fc-s-min) * 0.75);
  --fc-xs-max:(var(--fc-s-max) * 0.75);
  --fc-s-min:(var(--f-0-min,12.5));
  --fc-s-max:(var(--f-0-max,16));
  --fc-m-min:(var(--fc-s-min) * 1.5);
  --fc-m-max:(var(--fc-s-max) * 1.5);
  --fc-l-min:(var(--fc-s-min) * 2);
  --fc-l-max:(var(--fc-s-max) * 2);
  --space-3xs:calc(var(--fc-3xs-min)/16*1rem + (var(--fc-3xs-max) - var(--fc-3xs-min))*var(--fluid-bp));
  --space-2xs:calc(var(--fc-2xs-min)/16*1rem + (var(--fc-2xs-max) - var(--fc-2xs-min))*var(--fluid-bp));
  --space-xs:calc(var(--fc-xs-min)/16*1rem + (var(--fc-xs-max) - var(--fc-xs-min))*var(--fluid-bp));
  --space-s:calc(var(--fc-s-min)/16*1rem + (var(--fc-s-max) - var(--fc-s-min))*var(--fluid-bp));
  --space-m:calc(var(--fc-m-min)/16*1rem + (var(--fc-m-max) - var(--fc-m-min))*var(--fluid-bp));
  --space-l:calc(var(--fc-l-min)/16*1rem + (var(--fc-l-max) - var(--fc-l-min))*var(--fluid-bp));
  --space-3xs-2xs:calc(var(--fc-3xs-min)/16*1rem + (var(--fc-2xs-max) - var(--fc-3xs-min))*var(--fluid-bp));
  --space-2xs-xs:calc(var(--fc-2xs-min)/16*1rem + (var(--fc-xs-max) - var(--fc-2xs-min))*var(--fluid-bp));
  --space-xs-s:calc(var(--fc-xs-min)/16*1rem + (var(--fc-s-max) - var(--fc-xs-min))*var(--fluid-bp));
  --space-s-m:calc(var(--fc-s-min)/16*1rem + (var(--fc-m-max) - var(--fc-s-min))*var(--fluid-bp));
  --space-m-l:calc(var(--fc-m-min)/16*1rem + (var(--fc-l-max) - var(--fc-m-min))*var(--fluid-bp));
  --space-s-l:calc(var(--fc-s-min)/16*1rem + (var(--fc-l-max) - var(--fc-s-min))*var(--fluid-bp));
  --demo-margin:rgba(228,154,44,var(--opacity));
  --demo-padding:rgba(169,67,154,var(--opacity));
  --demo-radii-min:25;
  --demo-radii-max:0;
  --demo-radii:calc(var(--demo-radii-min)/16*1rem + (var(--demo-radii-max) - var(--demo-radii-min))*var(--fluid-bp));
  border-radius:var(--demo-radii) var(--demo-radii) 0 0;
  margin:0 auto;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  -webkit-transform-origin:50% 0;
  transform-origin:50% 0;
  position:absolute;
  left:50%;
  top:0;
  background:var(--navy);
  font-size:var(--step-0);
  color:var(--white);
  font-family:var(--font-demo);
  font-weight:600;
  overflow:hidden;
  letter-spacing:-.02em;
  line-height:1.3
}
@media (max-width:1000px) {
  .demo-root {
    -webkit-transform:translateX(-50%) scale(var(--transform));
    transform:translateX(-50%) scale(var(--transform))
  }
}
.demo *,
.demo :after,
.demo :before {
  -webkit-transition:border-color .3s;
  transition:border-color .3s
}
.demo h1 {
  font-size:var(--step-5);
  color:var(--gold-1);
  font-weight:800;
  line-height:1.05;
  letter-spacing:-.02em
}
.demo h1+p {
  font-size:var(--step-1);
  color:#7690a4
}
.demo-wrap {
  max-width:686px;
  border-right:var(--space-s-l) solid var(--demo-margin);
  border-left:var(--space-s-l) solid var(--demo-margin);
  border-bottom:var(--space-s-l) solid var(--demo-margin);
  margin:0 auto calc(var(--space-l)*4)
}
.demo-wrap>*+* {
  border-top:var(--space-m-l) solid var(--demo-margin)
}
.demo-steps {
  list-style:none;
  display:grid;
  counter-reset:demo;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  grid-gap:var(--space-s-l);
  overflow:hidden
}
.demo-steps li {
  background:var(--navy-1);
  border:var(--space-s) solid var(--demo-padding);
  counter-increment:demo;
  line-height:1.35;
  position:relative
}
.demo-steps li:after {
  content:"";
  pointer-events:none;
  position:absolute;
  border-left:var(--space-s-l) solid var(--demo-margin);
  border-top:var(--space-s-l) solid var(--demo-margin);
  width:calc(100% + var(--space-s)*2 + var(--space-s-l));
  height:calc(100% + var(--space-s)*2 + var(--space-s-l));
  top:calc(var(--space-s)*-1 + var(--space-s-l)*-1);
  left:calc(var(--space-s)*-1 + var(--space-s-l)*-1)
}
.demo-steps li:before {
  content:counter(demo);
  display:block;
  color:var(--navy-3);
  border-bottom:var(--space-2xs) solid var(--demo-margin)
}
.demo-header {
  display:-webkit-box;
  display:flex;
  -webkit-box-align:center;
  align-items:center;
  -webkit-box-pack:justify;
  justify-content:space-between;
  border-top:var(--space-m-l) solid var(--demo-padding);
  border-bottom:var(--space-s-l) solid var(--demo-padding);
  font-size:var(--step--1)
}
.demo-header svg {
  height:var(--space-l);
  width:var(--space-l)
}
.demo-header ul {
  display:-webkit-box;
  display:flex;
  -webkit-box-align:center;
  align-items:center;
  -webkit-box-pack:end;
  justify-content:flex-end;
  list-style:none;
  color:#7690a4
}
.demo-header li+li {
  border-left:var(--space-xs-s) solid var(--demo-margin)
}
.demo .flex-form {
  max-width:200px;
  margin:0 auto
}
.demo input {
  cursor:-webkit-grab;
  cursor:grab
}
.demo input:active {
  cursor:-webkit-grabbing;
  cursor:grabbing
}
.low {
  color:var(--gold);
  background-color:var(--navy);
  text-align:center;
  padding:var(--space-l) var(--space-s) var(--space-l);
  margin-top:var(--space-xl);
  --gold:var(--gold-1)
}
.low p {
  margin-bottom:var(--step-0)
}
.low p a {
  font-style:italic;
  font-weight:700;
  color:var(--white)
}
.low__logo,
.low__logo-support {
  margin-bottom:.625em
}

/* .bike-container {
  position: relative;
  width: 100%;
}

#bikeImage {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); 
  transition: background 0.3s ease;
}

.overlay-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none; 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-links a {
  color: #fff;
  text-decoration: none;
  margin: 5px;
  font-size: 14px;
}

.bike-container:hover .overlay {
  background: rgba(0, 0, 0, 0.5); 
}

.bike-container:hover .overlay-links {
  opacity: 1;
} */

.hero-section {
  background-image: url('images/hero1.jpg'); /* Replace with the path to your hero image */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  height: 80vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
}

.hero-content {
  line-height: 3;
  max-width: 800px;
  margin: 0 auto;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  background-color: #009505; /* Adjust the background color */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #45a049; /* Adjust the hover background color */
}

.welcome-section {
  background-image:url(images/clark-young-7YMQpD5R7Uw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  height: 80vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  scroll-snap-align: start;
}

.repair-section {
  background-image:url(images/taylor-smith-K6v29UYxZ2w-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  height: 80vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
}

.repair-section h3 {
  background-color: #00000091;
  padding: var(--space-2xl);
  border-radius: .5rem;
  line-height: 2;
}

.photo-credits p {
  font-size: .5em;
}

footer {
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(141, 141, 141);
  border-radius: .5em;
}

.quote-section {
  background-color: #052f0643;
  padding: 200px 0 ;
  align-content: center;
}

.quote-text {
  font-size: 2rem;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

.quote-author {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-style: italic;
  color: #777;
}

.guidestar {
  padding: 1rem;
  margin: 1rem;
}

.copyright {
  margin-bottom: 1rem;
}

.section h2 {
  line-height: 2;
}

